@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  @apply box-border;
}

button {
  @apply cursor-pointer;
}

.scroll {
  @apply overflow-x-hidden overflow-y-scroll;
}

::-webkit-scrollbar {
  @apply w-[7px];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#ECECEC];
  /* rounded-[10px] */
}

.root-bg {
  /* @apply h-full w-full bg-[#F8F8F8]; */
  @apply h-full w-full bg-[#000000];
}

.p-content-pd {
  @apply p-[44px];
}

.p-content-mr {
  @apply mr-[44px];
}

.p-content-mb {
  @apply mb-[44px];
}

.p-content-rounded {
  @apply rounded-[30px];
}

.p-content-s-mb {
  @apply mb-[18px];
}

.p-content-s-mr {
  @apply mr-[18px];
}

.p-content-tag {
  @apply p-content-s-mr rounded-[150px] border-2 px-[14px] py-[8px] text-[12px];
}

.p-content-ss-mb {
  @apply mb-[6px];
}

.p-last-mb {
  @apply mb-[150px];
}

.p-voting-number-element {
  @apply mr-[10px] text-[22px] font-semibold;
}
.p-voing-bar-element {
  @apply mr-[2px] h-[24px] w-[50px] border-[1.3px] border-[#333333];
}

.p-tab-title {
  @apply mr-[5px] h-[80px] w-[136px]  rounded-t-[10px] text-[#333333];
}

.p-tab-n-selected {
  @apply h-[70px] rounded-[10px] bg-[#F8F8F8];
}
.p-tab-selected {
  @apply border-[1.5px] border-b-2 border-[#828282] border-b-[#ffffff] text-[#8A1F21];
}

.p-tab-content {
  @apply absolute top-[78.3px] z-0 w-[100%] border-collapse rounded-[30px] border-[1.5px] border-[#828282] px-[30px] py-[20px] text-[16px] text-[#828282];
}
